{% extends "stallion:common-base.jinja" %}
{% block builtin_head_bundles %}

{% endblock %}
{% block extra_meta %}

{% endblock %}

{% block body_content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <div class="logo-wrap">
        <img class="stallion-logo" src="https://stallion.io/st-assets/stallion-rearing-red-299.png?ts=1456278540000" />
      </div>
      <ul class="nav nav-sidebar">
        <li class="dashboard"><a href="#/"><span class="icon-map2"></span> Overview <span class="sr-only">(current)</span></a></li>
        <li class="newPost posts"><a class="partial-width" href="#/posts"><span class="icon-newspaper"></span> Posts</a> <a class="new-thing-link" href="#/new-post">new post</a></li>
        <li class="pages newPage">
          <a class="partial-width" href="#/pages">
            <span class="icon-file-text"></span> Pages</a>
          <a class="new-thing-link" href="#/new-page">new page</a>
        </li>
        <li class="comments"><a href="#/comments"><span class="icon-bubble2"></span> Comments</a></li>
        <li class="contacts"><a href="#/contacts"><span class="icon-users"></span> Contacts</a></li>
        <li class="files"><a href="#/files"><span class="icon-images"></span> Files/Media</a></li>
        
      </ul>
      <p>&nbsp;</p>
      <div id="sidebar-config-container"></div>
      <ul class="nav nav-sidebar">
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div id="react-app"></div>
    </div>
  </div>
</div>  
{% endblock %}

{%-- block builtin_footer_bundles --%}

{%-- endblock --%}
