<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
    <channel>
        <title>Comments on {{site.name}}</title>
        <link>{{meta.url}}</link>
        <language>en-us</language>
        <lastBuildDate>{{ date }}</lastBuildDate>
        {% for comment in commentsPager.items %}
        <item>
            <title>Comment by {{ comment.authorDisplayName }}</title>
            <description><![CDATA[{{ comment.bodyHtml }}]]></description>
            <link>{{ comment.permalink }}</link>
            <pubDate>{{ utils.formatLocalDate(post.createdTicks) }}</pubDate>
            <guid isPermaLink="true">{{ comment.permalink }}</guid>
        </item>
        {% endfor %}
    </channel>
</rss>