<div class="st-comments st-comments-for-{{ post.id }}">
  {% if threadComments.size() > 0 %}
    <h3 class="comments-header above-comments">Comments</h3>
  {% endif %}
  <div id="st-comments-html-indexable">
       {% for comment in commentsContext.comments %}
      <div  class="st-comment-{{ comment.id }} st-comment-wrapper" data-comment-id="{{ comment.id }}">
        <hr>
        <div class="st-comment-byline">
        {% if comment.authorWebSite %}
        <a href="{{ comment.authorWebSite }}" rel="nofollow">{{ comment.authorDisplayName }}</a>
        {% else %}
        {{ comment.authorDisplayName }}
        {% endif %}
        commented at {{ utils.formatLocalDate(comment.createdTicks, "MMMM d, YYYY h:mm a") }}</div>
      <div class="st-comment-body">{{ comment.bodyHtml }}</div>
    </div><!--end comment-->
  {% endfor %}
  </div>
  <div id="st-comments-section-target">
    <comments-section :thread-id="{{ page.id }}" :parent-title="'{{ page.title }}'" :parent-permalink="'{{ page.permalink }}'"></comments-section>
  </div>
</div>

<script type="text/javascript">

(function() {
  
  window.stFlatCommentsContext = {{ utils.htmlSafeJson(commentsContext) }};
  stFlatCommentsContext.commentById = {};
  stFlatCommentsContext.riotTagBycommentId = {};
  stFlatCommentsContext.newComments = [];
  stFlatCommentsContext.comments.forEach(function(comment) {
    stFlatCommentsContext.commentById[comment.id] = comment;
  });

}());
</script>



