{% extends "stallion:public/semipublic-base.jinja" %}
{% block extra_head %}
<!--
  ~ Copyright (c) 2015-2016 Patrick Fitzsimmons
  ~
  ~ This file is part of Stallion Publisher.
  ~
  ~ Stallion Publisher is licensed under the Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International license.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International license
  ~ along with this program. If not, see <https://creativecommons.org/licenses/by-nc-sa/4.0/>.
  -->

<link href="{{ assets.resource('my-subscriptions.css', 'publisher') }}" rel="stylesheet" />
{% endblock %}
{% block main_column %}
<div id="st-comments-dashboard-content" class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div id="subscriptions-table-wrap">
            <my-subscriptions></my-subscriptions>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div><!--end row-->
</div>
{% endblock %}

{% block pre_end_body %}
<script type="text/javascript">
  window.st_contacts_context = {
      secretToken: {{ secretToken }},
      subscriptions: {{ subscriptionsSafeJson }},
      contact: {{ contact }}
  }
</script>
<script src="{{ assets.resource('public/my-subscriptions-riot.tag?processor=riot', 'publisher') }}" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function() {
    riot.compile(function() {
      stMySubscriptions.init();
    });
  });
</script>
{% endblock %}

