<h1>You have verified the following subscriptions</h1>
{% for subscription in subscriptions %}
<h3>{{ subscription.name }}</h3>
{% endfor %}
<h1>Enjoy!</h1>
<p></p>
<p>If this was a mistake, or you want to edit your subscriptions, <a href="/_stx/">you can manage your subscriptions here.</a></p>

